<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.activities.local_media.LocalMediaActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LocalMediaActivityStyle" />
        <activity
            android:name=".ui.activities.play_history.PlayHistoryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.bilibili_danmu.BilibiliDanmuActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.shooter_subtitle.ShooterSubtitleActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.activities.bind_source.BindExtraSourceActivity"
            android:theme="@style/ShareElementActivityTheme"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>