/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.idea/task.xml
.idea/modules.xml
.idea/usage.statistics.xml
gradle.xml
.idea/libraries/*.xml
*.iws
*.iml
*.jks
PASSWORD.txt
secrets.tar
环境变量.txt
设置编译环境变量.bat
