*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/core/src/main/res/values/strings.xml
/core/src/main/res/values/style.xml
/core/src/main/java/com/xyoye/core/utils/AppHelper.java
