<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xyoye.dandanplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.OpenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.PlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="ftp" />
                <data android:scheme="file" />
                <data android:scheme="ed2k" />
                <data android:scheme="thunder" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:scheme="http" />
                <data android:scheme="ftp" />
                <data android:scheme="file" />
                <data android:scheme="ed2k" />
                <data android:scheme="thunder" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.activities.FolderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PlayerSettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.FileManagerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.DanmuNetworkActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.DownloadBilibiliActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.DownloadMangerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.WebviewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.AnimeDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PersonalInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PersonalFavoriteActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PersonalHistoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PlayerSettingTipsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.ResetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.SearchMagnetActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.TorrentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name=".service.TorrentService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>