<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyoye.dandanplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.openMod.OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.mainMod.MainActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.folderMod.FolderActivity"/>

        <activity android:name=".ui.fileManagerMod.FileManagerActivity"/>

        <activity android:name=".ui.danmuMod.DanmuNetworkActivity"/>

        <activity android:name=".ui.playMod.PlayerActivity"/>

        <activity android:name=".ui.webMod.WebviewActivity"/>

        <activity android:name=".ui.animaMod.AnimaDetailActivity"/>

        <activity android:name=".ui.personalMod.LoginActivity"/>

        <activity android:name=".ui.personalMod.PersonalInfoActivity"/>

        <activity android:name=".ui.personalMod.PersonalFavoriteActivity"/>

        <activity android:name=".ui.personalMod.PersonalHistoryActivity"/>

        <activity android:name=".ui.settingMod.SettingActivity"/>
    </application>

</manifest>