<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyoye.dandanplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.openMod.OpenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.mainMod.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.folderMod.FolderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.fileManagerMod.FileManagerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.danmuMod.DanmuNetworkActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.danmuMod.DownloadBilibiliActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.playMod.PlayerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.webMod.WebviewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.animeMod.AnimeDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.authMod.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.personalMod.PersonalInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.personalMod.PersonalFavoriteActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.personalMod.PersonalHistoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.settingMod.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.authMod.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.authMod.ResetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.authMod.ChangePasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>