<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application>
        <activity
            android:name=".ui.activities.external_storage.ExternalStorageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.storage_file.StorageFileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.web_dav_login.WebDavLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.ftp_login.FTPLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.smb_login.SmbLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.remote_login.RemoteLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.remote_scan.RemoteScanActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.remote_file.RemoteFileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.remote_control.RemoteControlActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.web_dav_file.WebDavFileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.ftp_file.FTPFileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.screencast_connect.ScreencastConnectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.activities.screencast.receiver.ScreencastActivity"
            android:configChanges="screenSize" />

        <service
            android:name=".services.ScreencastProvideService"
            android:exported="false" />
        <service
            android:name=".services.ScreencastReceiveService"
            android:exported="false" />
    </application>

</manifest>