<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyoye.anime_component">

    <application>
        <activity
            android:name=".ui.activities.anime_detail.AnimeDetailActivity"
            android:theme="@style/ShareElementActivityTheme"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ui.activities.search.SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.activities.anime_season.AnimeSeasonActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.activities.search_advanced.SearchAdvancedActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.activities.anime_follow.AnimeFollowActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.activities.anime_history.AnimeHistoryActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.activities.anime_tag.AnimeTagActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>